@font-face {
  font-family: 'BBardiya', 'B Bardiya', Tahoma;
  src: url('../font/BBardiya.eot') format('eot'),
  url('../font/BBardiya.ttf') format('ttf'),
  url('../font/BBardiya.woff') format('woff');
}
@font-face {
  font-family: 'BNazanin', 'B Nazanin', Tahoma;
  src: url('../font/BNazanin.eot') format('eot'),
  url('../font/BNazanin.ttf') format('truetype'),
  url('../font/BNazanin.woff') format('woff');
}
@font-face {
  font-family: 'BFarnaz', 'B Farnaz', Tahoma;
  src: url('../font/BFarnaz.eot') format('eot'),
  url('../font/BFarnaz.ttf') format('truetype'),
  url('../font/BFarnaz.woff') format('woff');
}
@font-face {
  font-family: 'BHoma', 'B Homa', Tahoma;
  src: url('../font/BHoma.eot') format('eot'),
  url('../font/BHoma.ttf') format('truetype'),
  url('../font/BHoma.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$yellow: #faf055;

//////////////////// Large Screens ////////////////////
/////////////////// Back to Top Button ////////////////////
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  background: #a4a4a0;
  color: #0561a1;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  text-decoration: none;
  transition: all .3s;
  font-size: 22px;
  opacity: 0;
  &:hover {
    background: #e9ebec;
  }
  &.show {
    opacity: 1;
  }
}

/////////////////// header ////////////////////
.header {
  width: 100%;
  ////////// top bar //////////
  .top-part {
    background: rgb(0,55,125);
    background: linear-gradient(0deg, rgba(0,55,125,1) 0%, rgba(85,130,165,1) 100%);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px 0;
    ///// search /////
    .search-section {
      font-family: 'BNazanin', 'B Nazanin', Tahoma;
      margin: 0 20px;
      position: relative;
      input {
        width: 250px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 25px;
        padding: 4px 10px 3px 33px;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
        position: relative;
        &::placeholder {
          color: #ffffff;
        }
        &:focus {
          background-color: $yellow;
          outline: none;
          color: #000000;
          border-color: #000000;
          &::placeholder {
            color: #000000;
          }
        }
      }
      .search-icon {
        position: absolute;
        left: 2px;
        bottom: 0;
        height: 100%;
        background-color: transparent;
        border: none;
        &:focus {
          outline: none;
        }
        img {
          height: 100%;
        }
      }
    }
    ///// different themes /////
    .theme-section {
      height: 25px;
      .theme {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 2px;
        border: 0;
        &#black-contrast {
          background-color: #000000;
        }
        &#main {
          background-color: #ffffff;
        }
        &#yellow-contrast {
          background-color: #ffcc00;
        }
      }
    }
    ///// site icons /////
    .icons-section {
      margin-right: 20px;
      margin-left: 10px;
      .icons-list {
        list-style: none;
        border-right: 2px solid #ffffff;
        padding-right: 10px;
        margin-bottom: 0;
        .icon {
          display: inline-block;
          background-color: transparent;
          margin: 0 1px;
          &.zoom {
            a {
              font-size: 20px;
              line-height: 32px;
            }
          }
          &.lang {
            a {
              font-size: 16px;
            }
          }
          a {
            display: inline-block;
            text-align: center;
            height: 25px;
            width: 25px;
            line-height: 29px;
            color: #ffffff;
            transition: all .3s;
            border-radius: 50%;
            text-decoration: none;
            &:hover {
              background-color: $yellow;
              color: #000000;
            }
          }
        }
      }
    }
  }

  ////////// logos section //////////
  .logos-section {
    display: flex;
    justify-content: space-between;
    height: 140px;
    background-image: url("../img/header-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    .logo {
      height: 100%;
      &.left-logo {
        padding-left: 40px;
      }
      &.right-logo {
        padding-right: 30px;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/////////////// Navbar ///////////////
.site-navbar {
  font-family: 'BHoma', 'B Homa', Tahoma;
  height: 60px;
  background: rgb(0,92,157);
  background: linear-gradient(0deg, rgba(0,92,157,1) 0%, rgba(64,165,219,1) 100%);
  padding: 10px 0;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 900;
  .container-fluid {
    height: 100%;
    .dropdown-nav-menu {
      display: none;
      .nav-dropdown {
        color: #ffffff;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        display: block;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
        .caret {
          width: 20px;
          height: 20px;
          transition: all .3s;
          transform: rotate(0);
        }
      }
      .dropdown-nav-items {
        display: none;
        margin-top: 10px;
        .nav-item {
          display: block;
          &.dropdown .dropdown-menu {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            background: transparent;
          }
          .nav-link {
            font-size: 18px;
          }
        }
      }
    }
    .nav-items {
      height: 100%;
      list-style: none;
      margin-bottom: 0;
    }

    .nav-item {
      line-height: 40px;
      height: 100%;
      display: inline-block;
      &.dropdown {
        cursor: pointer;
        .nav-link {
          .caret {
            width: 20px;
            height: 20px;
            transition: all .3s;
            transform: rotate(0);
          }
        }
        .dropdown-menu {
          background: rgb(0,92,157);
          background: linear-gradient(0deg, rgba(0,92,157,1) 0%, rgba(64,165,219,1) 100%);
          top: 99%;
          left: unset;
          right: 0;
          .dropdown-list {
            text-align: right;
            .dropdown-item {
              transition: all .3s;
              &:hover {
                background-color: #6b6d6e;
                .nav-link {
                  background-color: transparent;
                }
              }
              .nav-link {
                display: block;
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                border-radius: 10px;
                transition: all .3s;
              }
            }
          }
        }
      }
      .nav-link {
        display: block;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        padding: 0 20px;
        border-radius: 10px;
        transition: all .3s;
        &:hover {
          background-color: #6b6d6e;
        }
      }
    }

  }
}

/////////////// Footer ///////////////
.footer {
  background-color: #0561a1;
  padding: 15px 0;
  .footer-section {
    text-align: center;
    .title {
      display: inline-block;
      position: relative;
      background-color: #3b9fd6;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      padding: 7px 25px;
      border-radius: 15px;
      z-index: 25;
    }

    .contents {
      position: relative;
      background-color: #D5D6D7;
      margin-top: -20px;
      padding: 35px 15px 15px;
      z-index: 5;
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 325px;
      &.religious-times {
        background-image: url("../img/footer-religious-times-background.png");
      }
      &.weather {
        background-image: url("../img/footer-weather-background.png");
      }
      &.contact {
        background-image: url("../img/footer-contact-background.png");
      }
      &.time {
        background-image: url("../img/footer-time-background.png");
      }
      .content-list {
        list-style: none;
        text-align: right;
        margin-bottom: 0;
        .content {
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 18px;
          &.english {
            font-family: sans-serif;
            font-weight: normal;
            direction: ltr;
            text-align: left;
            .value {
              margin-left: 10px;
              margin-right: 0;
            };
          }
          .icon {
            font-size: 20px;
            position: relative;
            top: 5px;
            margin-left: 10px;
          }
          .value {
            font-weight: normal;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .copyright {
    font-family: sans-serif;
    direction: ltr;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
}

@media(max-width: 960px) {
  /////////////// Footer ///////////////
  .footer .footer-section {
    margin-bottom: 15px;
  }
}

//////////////////// Small Screens ////////////////////
@media(max-width: 720px) {
  /////////////// Header ///////////////
  .header .top-part {
    justify-content: center;
  }
  .header .top-part .theme-section {
    margin-bottom: 10px;
  }
  .header .top-part .icons-section .icons-list {
    border-right: none;
  }
  .header .top-part .search-section .search-icon img {
    height: 25px;
    position: relative;
    bottom: 4px;
  }
  .header .logos-section {
    height: 100px;
  }
  .header .logos-section .logo.right-logo {
    padding-right: 15px;
  }
  .header .logos-section .logo.left-logo {
    padding-left: 15px;
  }

  /////////////// Navbar ///////////////
  .site-navbar {
    height: unset;
    min-height: 50px;
  }
  .site-navbar .container-fluid .dropdown-nav-menu .nav-dropdown {
    line-height: 30px;
    font-size: 16px;
  }
  .site-navbar .container-fluid .nav-items {
    display: none;
  }
  .site-navbar .container-fluid .dropdown-nav-menu {
    display: block;
  }
}

//////////////////// Extra Small Screens ////////////////////
@media(max-width: 420px) {
  /////////////// Header ///////////////
  .header .top-part .search-section input {
    width: 200px;
  }
  .header .logos-section {
    height: 80px;
  }
  .header .logos-section .logo.right-logo {
    padding-right: 0;
  }
  .header .logos-section .logo.left-logo {
    padding-left: 0;
  }

  /////////////// Navbar ///////////////
  .site-navbar {
    min-height: 50px;
  }
}