///////////////////////// Credentials /////////////////////////
html, body {
  font-family: 'BNazanin', 'B Nazanin', Tahoma;
  direction: rtl;
  text-align: right;
}

$yellow: #faf055;
$grey: #d5d6d7;
$darkGrey: #a4a4a0;
$blue: #0561a1;

///////////////////////// Large Screens /////////////////////////
//////////////////// Navbar ////////////////////
.site-navbar {
  margin-bottom: 0;
}

//////////////////// Main Slides ////////////////////
.main-slides {
  max-height: 600px;
  width: 100%;
  margin-bottom: 30px;
  .swiper-slide {
    width: 100%;
    .slide-link {
      width: 100%;
      display: block;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .title {
        width: 100%;
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        right: 0;
        bottom: 0;
        color: #ffffff;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .main-slides-navigation {
    background-color: rgba(#7f7f7f, .5);
    height: 75px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    transition: all .3s;
    &.swiper-button-disabled {
      opacity: .5;
      cursor: unset;
      &:hover {
        background-color: rgba(#7f7f7f, .5);
      }
    }
    &.main-slides-next {
      left: 0;
      padding-left: 7px;
      border-radius: 0 17px 17px 0;
    }
    &.main-slides-prev {
      right: 0;
      padding-right: 7px;
      border-radius: 17px 0 0 17px;
    }
    &:hover {
      background-color: rgba($blue, .5);
    }
    img {
      height: 100%;
    }

  }

  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      &.swiper-pagination-bullet-active {
        background-color: $blue;
      }
    }

  }

}

//////////////////// News Slides ////////////////////
.news-slides {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;

  .swiper-slide {
    background-color: $grey;
    border-radius: 15px;
    .slide-link {
      display: block;
      height: 100%;
      text-decoration: none;
      padding: 30px 0;
      .news {
        height: 100%;
        &:hover {
          .image-container {
            transform: scale(1.05);
          }
        }
        .image-container {
          height: 100%;
          img {
            height: 100%;
          }
        }
        .news-text {
          padding: 10px;
          position: relative;
          .news-title {
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: $blue;
            text-align: justify;
            margin-bottom: 10px;
          }
          .news-article {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
            text-align: justify;
          }
        }

        .image-container {
          width: 100%;
          transform: scale(1);
          transition: all .3s;
          img {
            width: 100%;
            object-fit: cover;
          }
        }

      }
    }
  }

  .news-slides-navigation {
    background-color: rgba(#ffffff, .5);
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    transition: all .3s;
    &.swiper-button-disabled {
      opacity: .5;
      cursor: unset;
      &:hover {
        background-color: rgba(#ffffff, .5);
      }
    }
    &.news-slides-next {
      left: 0;
      border-radius: 0 17px 17px 0;
      padding: 5px 5px 5px 7px;
    }
    &.news-slides-prev {
      right: 0;
      border-radius: 17px 0 0 17px;
      padding: 5px 15px 5px 0;
    }
    &:hover {
      background-color: rgba($yellow, .5);
    }
    img {
      height: 100%;
    }

  }

  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;

      &.swiper-pagination-bullet-active {
        background-color: $blue;
      }
    }
  }
}

//////////////////// Icons Section ////////////////////
.main-icons-section {
  margin-bottom: 30px;
  .icon-container {
    height: 225px;
    .icon-link {
      display: block;
      position: relative;
      height: 100%;
      text-align: center;
      transform: scale(1);
      transition: all .3s;

      &:hover {
        transform: scale(1.05);
        .hover {
          opacity: 1;
        }
      }

      .normal {
        position: relative;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .hover {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all .3s;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

//////////////////// Section ////////////////////
.section {
  margin-bottom: 30px;
  text-align: center;
  .section-title {
    display: inline-block;
    background-color: $blue;
    color: #ffffff;
    padding: 7px 25px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .section-contents {
    background-color: $grey;
    margin-top: -26px;
    padding: 41px 15px 15px;
    .contents {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      position: relative;
      &:before {
        content: "";
        width: 10px;
        height: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .content {
        padding-top: 5px;
        padding-bottom: 5px;
        &:nth-child(odd) {
          padding-right: 0;
          .content-link {
            border-radius: 0 60px 60px 0;
            flex-direction: row;
            &:before {
              left: 0;
            }
          }
        }
        &:nth-child(even) {
          padding-left: 0;
          .content-link {
            border-radius: 60px 0 0 60px;
            flex-direction: row-reverse;
            &:before {
              right: 0;
            }
          }
        }
        .content-link {
          background-color: #ffffff;
          display: flex;
          justify-content: space-between;
          align-items: start;
          height: 100%;
          padding: 10px;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          z-index: 25;
          &.title-only {
            align-items: center;
            .text {
              padding: 0;
              .title {
                font-size: 32px;
                margin: 0;
              }
            }
          }
          &:before {
            content: "";
            height: 100%;
            width: 0;
            background-color: rgba(#6b6d6e, .3);
            position: absolute;
            bottom: 0;
            transition: all .3s;
            z-index: -5;
          }
          &:hover {
            &:before {
              width: 100%;
            }
            .image-container {
              transform: scale(1.1) rotate(30deg);
            }
          }
          .image-container {
            width: 30%;
            border-radius: 50%;
            transform: scale(1) rotate(0);
            transition: all .3s;
            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .text {
            width: 65%;
            padding: 10px;
            .title {
              color: $blue;
              font-size: 20px;
              font-weight: bold;
              margin: 10px;
            }
            .article {
              color: #000000;
              font-weight: bold;
              text-align: justify;
            }
          }

        }

      }

    }

    .contents-2 {
      .content {
        .content-link {
          display: block;
          height: 100%;
          background-color: #ffffff;
          border-radius: 30px;
          overflow: hidden;
          text-decoration: none;
          transform: scale(1);
          -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
          -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
          box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
          transition: all .3s;
          &:hover {
            transform: scale(1.05);
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
            -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
          }
          .image-container {
            width: 100%;
            margin-bottom: 5px;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .text-container {
            .title {
              color: $blue;
              font-size: 20px;
              font-weight: bold;
              text-align: justify;
              padding: 10px 15px;
              margin-bottom: 0;
            }
            .text {
              color: #000000;
              font-weight: bold;
              text-align: justify;
              padding: 0 15px;
            }
          }
        }

      }
    }

  }

  .more {
    margin-top: 20px;
    .more-button {
      display: inline-block;
      background-color: transparent;
      padding: 2px;
      border: 2px solid $blue;
      border-radius: 24px;
      text-decoration: none;
      transition: all .3s;
      &:hover {
        border-color: $darkGrey;
        .background {
          //background-color: $darkGrey;
          background: $darkGrey radial-gradient(circle, transparent 1%, $darkGrey 1%) center/15000%;
        }
      }
      &:active {
        .background {
          background-color: $grey;
          background-size: 100%;
          transition: background 0s;
        }
      }
      .background {
        background-color: $blue;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
        padding: 8px 35px;
        transition: all .3s;
        background-position: center;
      }
    }
  }

}

//////////////////// Link Sections ////////////////////
.link-section {
  padding: 15px 0;
  background-color: rgba($darkGrey, .5);
  text-align: center;
  margin-bottom: 30px;
  .secondary-text {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }
  .main-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    transition: all .3s;
    &:hover {
      color: $blue;
    }
  }
}

.link-section-2 {
  padding: 20px 0;
  background-color: rgba($darkGrey, .5);
  text-align: center;
  margin-bottom: 15px;
  .main-link {
    color: $blue;
    text-decoration: none;
    font-size: 36px;
    font-weight: 800;
    transition: all .3s;
    &:hover {
      color: #000000;
    }
  }
}

//////////////////// Big Images ////////////////////
.big-image-container {
  width: 100%;
  margin-bottom: 15px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

//////////////////// Social Media Section ////////////////////
.social-media-section {
  background-color: $grey;
  color: $blue;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  .social-media {
    padding: 15px 0 0;
    .social-media-link {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 57px;
      border-radius: 50%;
      background-color: $blue;
      color: $grey;
      text-decoration: none;
    }
  }
}

///////////////////////// Medium Screens /////////////////////////
@media(max-width: 960px)  {
  //////////////////// Header ////////////////////
  .header .logos-section {
    height: 120px;
  }
  .header .logos-section .logo.right-logo {
    padding-right: 0;
  }
  .header .logos-section .logo.left-logo {
    padding-left: 0;
  }

  //////////////////// Main Slides ////////////////////
  .main-slides .main-slides-navigation {
    height: 60px;
  }

  //////////////////// News Slides ////////////////////
  .news-slides {
    height: 400px;
  }
  .news-slides .news-slides-navigation {
    height: 55px;
  }

  //////////////////// Icons Section ////////////////////
  .main-icons-section .icon-container {
    height: 165px;
  }

  //////////////////// Section ////////////////////
  .section .section-contents .contents .content .content-link {
    align-items: center;
  }
  .section .section-contents .contents .content .content-link .text .title {
    margin-top: 0;
  }
  .section .section-contents .contents .content .content-link.title-only .text .title {
    font-size: 28px;
  }
  .section .section-contents .contents-2 .content {
    margin-bottom: 10px;
  }
}

///////////////////////// Small Screens /////////////////////////
@media(max-width: 720px) {
  //////////////////// Header ////////////////////
  .header .logos-section {
    height: 100px;
  }

  //////////////////// Main Slides ////////////////////
  .main-slides .main-slides-navigation {
    height: 45px;
  }
  .main-slides .main-slides-navigation.main-slides-next {
    border-radius: 0 14px 14px 0;
  }
  .main-slides .main-slides-navigation.main-slides-prev {
    border-radius: 14px 0 0 14px;
  }

  //////////////////// News Slides ////////////////////
  .news-slides {
    height: unset;
  }
  .news-slides .swiper-slide .slide-link .news .news-text {
    padding: 10px 25px;
  }
  .news-slides-pagination {
    bottom: 3px !important;
  }

  //////////////////// Section ////////////////////
  .main-icons-section .icon-container {
    height: 130px;
  }

  //////////////////// Icons Section ////////////////////
  .section .section-contents .contents:before {
    display: none;
  }
  .section .section-contents .contents .content:nth-child(odd) .content-link {
    border-radius: 60px;
  }
  .section .section-contents .contents .content:nth-child(even) .content-link {
    border-radius: 60px;
  }
  .section .section-contents .contents .content:nth-child(even),
  .section .section-contents .contents .content:nth-child(odd) {
    padding: 5px 0;
  }
}

///////////////////////// Extra Small Screens /////////////////////////
@media(max-width: 420px) {
  //////////////////// Header ////////////////////
  .header .logos-section {
    height: 55px;
  }

  //////////////////// Icons Section ////////////////////
  .section .section-title {
    font-size: 28px;
  }
  .main-icons-section .icon-container {
    height: 60px;
  }
  .main-icons-section .icon-container.middle-icon {
    margin-top: 0;
  }

  //////////////////// Link Section ////////////////////
  .link-section .secondary-text {
    font-size: 20px;
  }
  .link-section .main-link {
    font-size: 24px;
  }
}

