@charset "UTF-8";
html, body {
  font-family: 'BNazanin', 'B Nazanin', Tahoma;
  direction: rtl;
  text-align: right; }

.news-section {
  margin-bottom: 30px;
  min-height: 450px;
  background-color: #d5d6d7;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden; }
  .news-section .selected-news-section {
    width: 66.6%;
    text-align: center;
    display: inline-block; }
    .news-section .selected-news-section a {
      transition: all .3s; }
      .news-section .selected-news-section a:hover {
        text-decoration: none; }
        .news-section .selected-news-section a:hover .image-container {
          border-color: #faf055; }
        .news-section .selected-news-section a:hover .text {
          text-decoration: none; }
      .news-section .selected-news-section a .image-container {
        border: 2px solid #000000;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        transition: all .3s;
        margin-bottom: 10px; }
        .news-section .selected-news-section a .image-container img {
          width: 100%;
          object-fit: cover;
          position: relative; }
      .news-section .selected-news-section a .title {
        text-align: center;
        display: block;
        width: 100%;
        color: #0561a1;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0; }
      .news-section .selected-news-section a .text {
        color: #000000;
        text-align: justify;
        padding: 0 5px;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 14px; }
        .news-section .selected-news-section a .text:hover {
          text-decoration: none; }
  .news-section .news-list-section {
    display: inline-block;
    height: 100%;
    width: 33%; }
    .news-section .news-list-section .news-list-slides {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      height: 94%;
      width: 30%;
      position: absolute;
      top: 15px;
      left: 15px; }
      .news-section .news-list-section .news-list-slides .swiper-slide .news {
        height: 100%;
        cursor: pointer;
        color: #000000;
        transition: all .3s; }
        .news-section .news-list-section .news-list-slides .swiper-slide .news:hover {
          text-decoration: none; }
          .news-section .news-list-section .news-list-slides .swiper-slide .news:hover .image-container {
            border-color: #faf055; }
          .news-section .news-list-section .news-list-slides .swiper-slide .news:hover .text-container {
            text-decoration: none; }
        .news-section .news-list-section .news-list-slides .swiper-slide .news .image-container {
          height: 100%;
          border: 2px solid transparent;
          overflow: hidden;
          border-radius: 5px;
          transition: all .3s;
          margin-right: 7px; }
          .news-section .news-list-section .news-list-slides .swiper-slide .news .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .news-section .news-list-section .news-list-slides .swiper-slide .news .text-container {
          display: none; }
      .news-section .news-list-section .news-list-slides .swiper-pagination-bullets {
        right: unset;
        left: 0; }
        .news-section .news-list-section .news-list-slides .swiper-pagination-bullets .swiper-pagination-bullet-active {
          background-color: #0561a1; }
    .news-section .news-list-section .news-list {
      overflow-y: scroll;
      overflow-x: hidden; }
      .news-section .news-list-section .news-list .news {
        cursor: pointer;
        color: #000000;
        transition: all .3s;
        margin-bottom: 10px; }
        .news-section .news-list-section .news-list .news:hover {
          text-decoration: none; }
          .news-section .news-list-section .news-list .news:hover .image-container {
            border-color: #faf055; }
          .news-section .news-list-section .news-list .news:hover .text-container {
            text-decoration: none; }
        .news-section .news-list-section .news-list .news::-webkit-scrollbar {
          width: 8px; }
        .news-section .news-list-section .news-list .news::-webkit-scrollbar-button {
          display: none; }
        .news-section .news-list-section .news-list .news .image-container {
          height: 100%;
          border: 2px solid transparent;
          overflow: hidden;
          border-radius: 5px;
          transition: all .3s;
          margin-right: 7px; }
          .news-section .news-list-section .news-list .news .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .news-section .news-list-section .news-list .news .text-container {
          display: none; }
  .news-section .row {
    height: 100%; }

.multimedia {
  margin-bottom: 30px;
  min-height: 450px;
  background-color: #d5d6d7;
  padding: 10px 15px;
  border-radius: 10px; }
  .multimedia .big-title {
    font-family: 'BFarnaz', 'B Farnaz', Tahoma;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #0561a1;
    margin-bottom: 10px; }
  .multimedia .big-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all .3s; }
    .multimedia .big-image:hover {
      border-color: #faf055; }
      .multimedia .big-image:hover .play-button {
        background-color: rgba(250, 240, 85, 0.4); }
    .multimedia .big-image .image-container {
      width: 100%;
      transition: all .3s; }
      .multimedia .big-image .image-container img {
        width: 100%;
        object-fit: cover; }
    .multimedia .big-image .title {
      position: absolute;
      font-weight: bold;
      font-size: 18px;
      -webkit-text-stroke: .5px #000000;
      color: #ffffff;
      bottom: 0;
      background-color: rgba(86, 82, 82, 0.5);
      padding: 5px 10px;
      width: 100%; }
    .multimedia .big-image .play-button {
      background-color: rgba(255, 255, 255, 0.4);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s; }
      .multimedia .big-image .play-button img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .multimedia .small-images {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .multimedia .small-images .small-image {
      width: 30%;
      position: relative; }
      .multimedia .small-images .small-image a {
        text-decoration: none; }
        .multimedia .small-images .small-image a:hover .image-container {
          border-color: #faf055; }
          .multimedia .small-images .small-image a:hover .image-container .play-button {
            background-color: rgba(250, 240, 85, 0.4); }
        .multimedia .small-images .small-image a:hover .title {
          text-decoration: none; }
        .multimedia .small-images .small-image a .image-container {
          width: 100%;
          border: 2px solid transparent;
          position: relative; }
          .multimedia .small-images .small-image a .image-container img {
            width: 100%;
            object-fit: cover; }
          .multimedia .small-images .small-image a .image-container .play-button {
            background-color: rgba(255, 255, 255, 0.4);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .3s; }
            .multimedia .small-images .small-image a .image-container .play-button img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
        .multimedia .small-images .small-image a .title {
          font-weight: bolder;
          font-size: 14px;
          -webkit-text-stroke: .5px #000000;
          color: #ffffff;
          padding: 5px 0;
          width: 100%;
          text-align: center;
          text-decoration: none; }

.section {
  background-color: #a4a4a0;
  padding-bottom: 10px;
  border-radius: 15px 15px 10px 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .section.notes-section, .section.discussions-section {
    background-color: #0561a1; }
  .section .background {
    background-color: #d5d6d7;
    overflow: hidden;
    border-radius: 15px 15px 10px 10px; }
    .section .background .section-title {
      background: #00377d;
      background: -moz-linear-gradient(0deg, #00377d 0%, #0562a2 100%);
      background: -webkit-linear-gradient(0deg, #00377d 0%, #0562a2 100%);
      background: linear-gradient(0deg, #00377d 0%, #0562a2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00377d",endColorstr="#0562a2",GradientType=1);
      color: #ffffff;
      border-radius: 15px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 7px 0;
      margin-bottom: 15px; }
      .section .background .section-title.smaller-title {
        font-size: 20px;
        padding: 5px 0; }
    .section .background .news-counter-list {
      list-style: none;
      margin-bottom: 15px; }
      .section .background .news-counter-list .news-counter-news {
        width: 100%; }
        .section .background .news-counter-list .news-counter-news .news-link {
          text-decoration: none;
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          padding: 5px 15px;
          z-index: 15; }
          .section .background .news-counter-list .news-counter-news .news-link:before {
            content: "";
            text-align: center;
            width: 0;
            height: 100%;
            opacity: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(107, 109, 110, 0.3);
            transition: all .3s;
            z-index: 5; }
          .section .background .news-counter-list .news-counter-news .news-link:hover .image-container {
            border-color: #0561a1; }
          .section .background .news-counter-list .news-counter-news .news-link:hover:before {
            width: 100%;
            opacity: 1; }
          .section .background .news-counter-list .news-counter-news .news-link .image-container {
            width: 35%;
            margin-left: 10px;
            border-radius: 4px;
            overflow: hidden;
            border: 2px solid transparent;
            transition: all .3s;
            position: relative;
            z-index: 15; }
            .section .background .news-counter-list .news-counter-news .news-link .image-container img {
              width: 100%;
              object-fit: cover; }
          .section .background .news-counter-list .news-counter-news .news-link .text {
            position: relative;
            z-index: 15; }
            .section .background .news-counter-list .news-counter-news .news-link .text .news-counter-title {
              color: #0561a1;
              font-size: 16px;
              font-weight: bold;
              transition: all .3s; }
            .section .background .news-counter-list .news-counter-news .news-link .text .news-counter-article {
              color: #000000;
              font-size: 14px;
              text-align: justify; }
            .section .background .news-counter-list .news-counter-news .news-link .text .more-button {
              display: none;
              background: #00377d;
              background: -moz-linear-gradient(0deg, #00377d 0%, #5582a5 100%);
              background: -webkit-linear-gradient(0deg, #00377d 0%, #5582a5 100%);
              background: linear-gradient(0deg, #00377d 0%, #5582a5 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00377d",endColorstr="#5582a5",GradientType=1);
              border: none;
              color: #ffffff;
              font-size: 16px;
              font-weight: bold;
              padding: 7px;
              border-radius: 15px; }
    .section .background .pagination {
      justify-content: center;
      margin-bottom: 15px; }
      .section .background .pagination a {
        color: #000000;
        font-weight: bold;
        display: inline-block;
        margin: 0 4px;
        padding: 4px 13px;
        text-decoration: none;
        border-radius: 5px;
        background-color: #a4a4a0;
        transition: all .3s; }
        .section .background .pagination a:hover {
          background-color: #faf055; }
        .section .background .pagination a.active {
          background-color: #0561a1;
          color: #ffffff; }
    .section .background .most-popular-list {
      margin-right: 25px;
      padding-left: 15px;
      list-style: none; }
      .section .background .most-popular-list .most-popular-item {
        margin-bottom: 5px;
        text-align: justify;
        transform: translateX(0);
        transition: all .3s; }
        .section .background .most-popular-list .most-popular-item:before {
          content: "\2022 ";
          color: #0561a1;
          position: relative;
          left: 10px;
          top: 2px;
          font-size: 20px;
          transition: all .3s; }
        .section .background .most-popular-list .most-popular-item:hover {
          transform: translateX(-10px); }
          .section .background .most-popular-list .most-popular-item:hover:before {
            color: #faf055; }
        .section .background .most-popular-list .most-popular-item .most-popular-link {
          text-decoration: none;
          color: #000000;
          font-weight: bold;
          transition: all .3s; }
    .section .background .notes-list {
      list-style: none;
      margin-right: 25px;
      padding-left: 15px; }
      .section .background .notes-list .note {
        font-size: 14px;
        text-align: justify;
        font-weight: bold;
        margin-bottom: 5px; }
        .section .background .notes-list .note:before {
          content: "✔";
          color: #0561a1;
          position: relative;
          left: 10px;
          top: 2px;
          font-size: 20px;
          transition: all .3s; }
        .section .background .notes-list .note:hover:before {
          color: #faf055; }
        .section .background .notes-list .note:hover .note-link {
          transform: translateX(-10px); }
        .section .background .notes-list .note .note-link {
          text-align: justify;
          color: #000000;
          text-decoration: none;
          transform: translateX(0);
          transition: all .3s; }
    .section .background .discussions-list {
      list-style: none;
      margin-right: 25px;
      padding-left: 15px; }
      .section .background .discussions-list .discussion {
        font-size: 14px;
        text-align: justify;
        font-weight: bold;
        margin-bottom: 5px; }
        .section .background .discussions-list .discussion:before {
          content: "\2022 ";
          color: #0561a1;
          position: relative;
          left: 10px;
          top: 2px;
          font-size: 20px;
          transition: all .3s; }
        .section .background .discussions-list .discussion:hover:before {
          color: #faf055; }
        .section .background .discussions-list .discussion:hover .note-link {
          transform: translateX(-10px); }
        .section .background .discussions-list .discussion .discussion-link {
          text-align: justify;
          color: #000000;
          text-decoration: none;
          transform: translateX(0);
          transition: all .3s; }

.button-section {
  background-color: #a4a4a0;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .button-section .background {
    background-color: #d5d6d7;
    overflow: hidden;
    border-radius: 10px;
    padding: 7px 15px; }
    .button-section .background .notice-button {
      width: 100%;
      margin: 7px 0;
      background: #00377d;
      background: -moz-linear-gradient(0deg, #00377d 0%, #5582a5 100%);
      background: -webkit-linear-gradient(0deg, #00377d 0%, #5582a5 100%);
      background: linear-gradient(0deg, #00377d 0%, #5582a5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00377d",endColorstr="#5582a5",GradientType=1);
      border-radius: 15px;
      position: relative;
      z-index: 30;
      transition: all .3s;
      overflow: hidden;
      text-align: center; }
      .button-section .background .notice-button:before {
        content: "";
        text-align: center;
        width: 0;
        height: 100%;
        opacity: 0;
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -5;
        background-color: #faf055;
        transition: all .3s; }
      .button-section .background .notice-button:hover a {
        color: #000000; }
      .button-section .background .notice-button:hover:before {
        opacity: 1;
        width: 100%; }
      .button-section .background .notice-button a {
        display: block;
        padding: 10px 15px;
        height: 100%;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        transition: all .3s; }
        .button-section .background .notice-button a.smaller-font {
          font-size: 16px; }

.slide-section {
  background-color: #a4a4a0;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .slide-section .background {
    background-color: #d5d6d7;
    overflow: hidden;
    border-radius: 10px;
    padding: 15px; }
    .slide-section .background .bottom-slide {
      width: 100%; }
      .slide-section .background .bottom-slide .swiper-slide {
        width: 100%; }
        .slide-section .background .bottom-slide .swiper-slide .slide-link {
          width: 100%;
          display: block;
          position: relative; }
          .slide-section .background .bottom-slide .swiper-slide .slide-link img {
            width: 100%;
            object-fit: cover; }
          .slide-section .background .bottom-slide .swiper-slide .slide-link .title {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            right: 0;
            bottom: 0;
            color: #ffffff;
            padding: 10px 15px;
            font-size: 18px;
            font-weight: bold; }
      .slide-section .background .bottom-slide .slide-navigation {
        background-color: rgba(127, 127, 127, 0.5);
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15;
        transition: all .3s; }
        .slide-section .background .bottom-slide .slide-navigation.swiper-button-disabled {
          opacity: .5; }
          .slide-section .background .bottom-slide .slide-navigation.swiper-button-disabled:hover {
            background-color: rgba(127, 127, 127, 0.5); }
        .slide-section .background .bottom-slide .slide-navigation.navigation-next {
          left: 0;
          padding-left: 7px;
          border-radius: 0 17px 17px 0; }
        .slide-section .background .bottom-slide .slide-navigation.navigation-prev {
          right: 0;
          padding-right: 7px;
          border-radius: 17px 0 0 17px; }
        .slide-section .background .bottom-slide .slide-navigation:hover {
          background-color: rgba(250, 240, 85, 0.5); }
        .slide-section .background .bottom-slide .slide-navigation img {
          height: 100%; }

@media (max-width: 960px) {
  .multimedia {
    min-height: unset; }

  .multimedia .big-title {
    font-size: 20px; } }
@media (max-width: 420px) {
  .header .top-part .search-section input {
    width: 200px; }

  .header .logos-section {
    height: 80px; }

  .header .logos-section .logo.right-logo {
    padding-right: 0; }

  .header .logos-section .logo.left-logo {
    padding-left: 0; }

  .site-navbar {
    min-height: 50px; }

  .news-section .selected-news-section {
    width: 100%;
    margin-bottom: 15px; }

  .news-section .news-list-section {
    width: 100%; }

  .news-section .news-list-section .news-list-slides {
    position: relative;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0; }

  .news-list-slides .swiper-wrapper .swiper-slide {
    height: 85%; }

  .news-section .news-list-section .news-list-slides .swiper-pagination-bullets {
    bottom: 0; }

  .section .background .news-counter-list .news-counter-news .news-link {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }

  .section .background .news-counter-list .news-counter-news .news-link .image-container {
    width: 100%; }

  .section .background .news-counter-list .news-counter-news .news-link .text .news-counter-title {
    margin-bottom: 5px; }

  .section .background .news-counter-list .news-counter-news .news-link .text .news-counter-article {
    display: none; }

  .section .background .news-counter-list .news-counter-news .news-link .text .more-button {
    display: block;
    width: 60%;
    justify-self: center; } }

/*# sourceMappingURL=style-notice.css.map */
