@charset "utf-8";
/* CSS Document */
.jqplot-target{position:relative;color:#666;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:1em;}.jqplot-axis{font-size:.75em;}.jqplot-xaxis{margin-top:10px;}.jqplot-x2axis{margin-bottom:10px;}.jqplot-yaxis{margin-right:10px;}.jqplot-y2axis,.jqplot-y3axis,.jqplot-y4axis,.jqplot-y5axis,.jqplot-y6axis,.jqplot-y7axis,.jqplot-y8axis,.jqplot-y9axis,.jqplot-yMidAxis{margin-left:10px;margin-right:10px;}.jqplot-axis-tick,.jqplot-xaxis-tick,.jqplot-yaxis-tick,.jqplot-x2axis-tick,.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick,.jqplot-yMidAxis-tick{position:absolute;white-space:pre;}.jqplot-xaxis-tick{top:0;left:15px;vertical-align:top;}.jqplot-x2axis-tick{bottom:0;left:15px;vertical-align:bottom;}.jqplot-yaxis-tick{right:0;top:15px;text-align:right;}.jqplot-yaxis-tick.jqplot-breakTick{right:-20px;margin-right:0;padding:1px 5px 1px 5px;z-index:2;font-size:1.5em;}.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{left:0;top:15px;text-align:left;}.jqplot-yMidAxis-tick{text-align:center;white-space:nowrap;}.jqplot-xaxis-label{margin-top:10px;font-size:11pt;position:absolute;}.jqplot-x2axis-label{margin-bottom:10px;font-size:11pt;position:absolute;}.jqplot-yaxis-label{margin-right:10px;font-size:11pt;position:absolute;}.jqplot-yMidAxis-label{font-size:11pt;position:absolute;}.jqplot-y2axis-label,.jqplot-y3axis-label,.jqplot-y4axis-label,.jqplot-y5axis-label,.jqplot-y6axis-label,.jqplot-y7axis-label,.jqplot-y8axis-label,.jqplot-y9axis-label{font-size:11pt;margin-left:10px;position:absolute;}.jqplot-meterGauge-tick{font-size:.75em;color:#999;}.jqplot-meterGauge-label{font-size:1em;color:#999;}table.jqplot-table-legend{margin-top:12px;margin-bottom:12px;margin-left:12px;margin-right:12px;}table.jqplot-table-legend,table.jqplot-cursor-legend{background-color:rgba(255,255,255,0.6);border:1px solid #ccc;position:absolute;font-size:.75em;}td.jqplot-table-legend{vertical-align:middle;}td.jqplot-seriesToggle:hover,td.jqplot-seriesToggle:active{cursor:pointer;}.jqplot-table-legend .jqplot-series-hidden{text-decoration:line-through;}div.jqplot-table-legend-swatch-outline{border:1px solid #ccc;padding:1px;}div.jqplot-table-legend-swatch{width:0;height:0;border-top-width:5px;border-bottom-width:5px;border-left-width:6px;border-right-width:6px;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-style:solid;}.jqplot-title{top:0;left:0;padding-bottom:.5em;font-size:1.2em;}table.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;}.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}.jqplot-highlighter-tooltip,.jqplot-canvasOverlay-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}.jqplot-point-label{font-size:.75em;z-index:2;}td.jqplot-cursor-legend-swatch{vertical-align:middle;text-align:center;}div.jqplot-cursor-legend-swatch{width:1.2em;height:.7em;}.jqplot-error{text-align:center;}.jqplot-error-message{position:relative;top:46%;display:inline-block;}div.jqplot-bubble-label{font-size:.8em;padding-left:2px;padding-right:2px;color:rgb(20%,20%,20%);}div.jqplot-bubble-label.jqplot-bubble-label-highlight{background:rgba(90%,90%,90%,0.7);}div.jqplot-noData-container{text-align:center;background-color:rgba(96%,96%,96%,0.3);}

body, html {
	direction: rtl;
	padding: 0;
	margin: 0;
	background-color: #ecf8ff;
	font-family: Tahoma, Times New Roman;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

div {
	padding: 0;
	margin: 0;
}

h2 {
	padding: 0;
	margin: 0;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

fieldset {
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	border-width: 1px;
	border-color: #CACACA;
	border-style: groove;
	border-radius: 2px;
	display: block;
	width: 550px;
	background-color: white;
}

legend a, legend a:visited, legend a:hover {
	font-weight: bold;
	color: gray;
}

input {
	font-family: Tahoma;
}

select {
	font-family: Tahoma;
}

input[type="text"], input[type="password"], textarea {
	border-radius: 3px;
	border-style: groove;
	border-color: silver;
}

input[type="submit"] {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background: -moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color: #79bbff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	/*border:1px solid #84bbf3;*/
	display: inline-block;
	color: #ffffff;
	padding: 2px 10px 5px 10px;
	margin: 5px;
	text-decoration: none;
	text-align: center;
}

input[type="submit"]:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background: -moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color: #378de5;
	cursor: pointer;
}

input[type="submit"]:active {
	position: relative;
	top: 1px;
}

img {
	border-radius: 4px;
	border: none;
	display: inline;
	vertical-align: middle;
}

ul, li {
	list-style-type: none;
	line-height: 20px;
}

table {
	text-align: center;
}

label {
	display: inline-block;
	margin: 5px 0 5px 5px;
}

#container {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}

#headerBlock {
	display: block;
	width: 1000px;
	height: 151px;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
}

#headerBlockDiv {
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
/*-------------------- main block ---------------------------*/
#mainBlockHeader {
	width: 1000px;
	height: 26px;
	background-image: url(../images/wrapper_header.png);
	background-repeat: no-repeat;
}

#mainBlockContent {
	background-image: url(../images/wrapper_content.png);
	background-repeat: repeat-y;
}

/*-------------------- right block ---------------------------*/

#rightBlock {
	display: none;
	width: 200px;
	margin-left: 40px;
	padding: 0;
	vertical-align: top;
}

#rightBlockHeader {
	background-image: url(../images/side_block_header.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
}

#rightBlockContent {
	background-image: url(../images/side_block_content.png);
	background-repeat: repeat-y;
	width: 200px;
}

#rightBlockFooter {
	background-image: url(../images/side_block_footer.png);
	background-repeat: no-repeat;
	height: 11px;
	width: 200px;
}

#rightBlockContent a {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	display: inline-block;
	height: 35px;
	padding: 0 8px 0 0;
	width: 170px;
	color: black;
	border-radius: 3px;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: gray;
}

#rightBlock a:hover {
	background-color: #D8D8D8;
	border-left-style: double;
}

#rightBlock a:visited {
	color: black;
}

#rightBlock a:active {
	background-color: #ffe898;
}

#rightBlock img {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}
/*----------- center block ------------------*/

.loading {
	text-align: center;
}

#centerBlock {
	display: inline-block;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	vertical-align: top;
}

#centerBlockHeader {
	display: inline-block;
	height: 49px;
	width: 650px;
	background-image: url(../images/center_block_header.png);
	background-repeat: no-repeat;
}

#centerBlockContent {
	display: inline-block;
	background-image: url(../images/center_block_content.png);
	background-repeat: repeat-y;
	width: 650px;
}

#centerBlockDiv {
	border-style: dashed;
	border-width: 0px;
	margin: 0 20px 0 20px;
}

#centerBlockFooter {
	padding-top: 50px;
	display: block;
	overflow: hidden;
	height: 10px;
	width: 650px;
	background-image: url(../images/center_block_footer.png);
	background-repeat: no-repeat;
}

#centerBlock hr {
	width: 550px;
	color: silver;
	background-color: blue;
}

#centerBlock a:hover {
	text-decoration: underline;
}

.homeMenu {
	background-color: #FFE898;
	margin: auto;
	width: 500px;
	border-radius: 3px;
	padding-bottom: 2px;
}

.homeMenuList li {
	font-size: 13px;
	list-style: url(../images/icons/la.png);
	margin: 0 20px 3px auto;
	width: 350px;
	text-align: right;
}
.homeMenuList a:hover {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #505050;
	text-decoration: none;
}

.mngTitle {
	font-size: 16px;
	background-color: #505050;
	width: 500px;
	color: white;
	margin: 10px auto 10px auto;
	border-radius: 5px;
	height: 40px;
	padding-top: 10px;
}
.mngTitle:hover {
	background-color: #808080;
	cursor: pointer;
}

.contentTable a:link {
	color: blue;
}

.contentTable a:visited {
	color: blue;
}

.contentTable {
	table-layout: fixed;
	width: 100%;
	font-size: 12px;
}

.contentTable th {
	background-color: silver;
	padding: 5px 0 5px 0;
}

.contentTable tbody tr:nth-child(2n+1) {
	background-color: #ffe898;
}

.contentTable tbody tr:nth-child(2n) {
	background-color: #fff7dd;
}

.contentTable td {
	padding: 3px 0 3px 0;
}

.contentTable td > img {
	height: 20px;
	width: 20px;
}

#centerBlock a > img {
	height: 20px;
	width: 20px;
	vertical-align: bottom;
}

#mainBlockFooter {
	background-image: url(../images/wrapper_footer.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 1000px;
	display: block;
}

#dateBlock {
	border: 0px dashed;
	margin: 0 0 0 10px;
}

#footerBlockDiv {
	display: block;
	margin-left: auto;
	margin-left: auto;
}

#err {
	display: block;
	color: red;
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 0 10px 0;
}

#warn {
	color: white;
	background-color: yellow;
	line-height: 20px;
}

#cong {
	border-width: 1px;
	border-color: #35CE1A;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 0 10px 0;
	color: #35CE1A;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#chartExport {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#chartExport fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
