@font-face {
  font-family: Vazir;
  src: url("../font/Vazir-FD.eot") format("eot"), url("../font/Vazir-FD.ttf") format("ttf"), url("../font/Vazir-FD.woff") format("woff"), url("../font/Vazir-FD.woff2") format("woff2"); }
@font-face {
  font-family: 'BNazanin', 'B Nazanin', Tahoma;
  src: url("../font/BNazanin.eot") format("eot"), url("../font/BNazanin.ttf") format("truetype"), url("../font/BNazanin.woff") format("woff"); }
@font-face {
  font-family: 'BFarnaz', 'B Farnaz', Tahoma;
  src: url("../font/BFarnaz.eot") format("eot"), url("../font/BFarnaz.ttf") format("truetype"), url("../font/BFarnaz.woff") format("woff"); }
@font-face {
  font-family: 'BHoma', 'B Homa', Tahoma;
  src: url("../font/BHoma.eot") format("eot"), url("../font/BHoma.ttf") format("truetype"), url("../font/BHoma.woff") format("woff"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  background: #a4a4a0;
  color: #009948;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  text-decoration: none;
  transition: all .3s;
  font-size: 22px;
  opacity: 0; }
  #back-to-top:hover {
    background: #e9ebec; }
  #back-to-top.show {
    opacity: 1; }

.header {
  width: 100%; }
  .header .top-part {
    background-color: #009948;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px 0; }
    .header .top-part .search-section {
      font-family: 'BNazanin', 'B Nazanin', Tahoma;
      margin: 0 20px;
      position: relative; }
      .header .top-part .search-section input {
        width: 250px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 25px;
        padding: 4px 10px 3px 33px;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
        position: relative; }
        .header .top-part .search-section input::placeholder {
          color: #ffffff; }
        .header .top-part .search-section input:focus {
          background-color: #faf055;
          outline: none;
          color: #000000;
          border-color: #000000; }
          .header .top-part .search-section input:focus::placeholder {
            color: #000000; }
      .header .top-part .search-section .search-icon {
        position: absolute;
        left: 2px;
        bottom: 0;
        height: 100%;
        background-color: transparent;
        border: none; }
        .header .top-part .search-section .search-icon:focus {
          outline: none; }
        .header .top-part .search-section .search-icon img {
          height: 100%; }
    .header .top-part .theme-section {
      height: 25px; }
      .header .top-part .theme-section .theme {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 2px;
        border: 0; }
        .header .top-part .theme-section .theme#black-contrast {
          background-color: #000000; }
        .header .top-part .theme-section .theme#main {
          background-color: #ffffff; }
        .header .top-part .theme-section .theme#yellow-contrast {
          background-color: #ffcc00; }
    .header .top-part .icons-section {
      margin-right: 20px;
      margin-left: 10px; }
      .header .top-part .icons-section .icons-list {
        list-style: none;
        border-right: 2px solid #ffffff;
        padding-right: 10px;
        margin-bottom: 0; }
        .header .top-part .icons-section .icons-list .icon {
          display: inline-block;
          background-color: transparent;
          margin: 0 1px; }
          .header .top-part .icons-section .icons-list .icon.zoom a {
            font-size: 20px;
            line-height: 32px; }
          .header .top-part .icons-section .icons-list .icon.lang a {
            font-size: 16px; }
          .header .top-part .icons-section .icons-list .icon a {
            display: inline-block;
            text-align: center;
            height: 25px;
            width: 25px;
            line-height: 29px;
            color: #ffffff;
            transition: all .3s;
            border-radius: 50%;
            text-decoration: none; }
            .header .top-part .icons-section .icons-list .icon a:hover {
              background-color: #faf055;
              color: #000000; }
  .header .logos-section {
    display: flex;
    justify-content: space-between;
    height: 140px;
    background-image: url("../img/header-background.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .header .logos-section .logo {
      height: 100%; }
      .header .logos-section .logo.left-logo {
        padding-left: 40px; }
      .header .logos-section .logo.right-logo {
        padding-right: 30px; }
      .header .logos-section .logo img {
        height: 100%;
        object-fit: cover; }

.site-navbar {
  font-family: Vazir, sans-serif;
  height: 60px;
  background: #009948;
  background: -moz-linear-gradient(0deg, #009948 0%, #b4d336 100%);
  background: -webkit-linear-gradient(0deg, #009948 0%, #b4d336 100%);
  background: linear-gradient(0deg, #009948 0%, #b4d336 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009948",endColorstr="#b4d336",GradientType=1);
  padding: 10px 0;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 900; }
  .site-navbar .container-fluid {
    height: 100%; }
    .site-navbar .container-fluid .dropdown-nav-menu {
      display: none; }
      .site-navbar .container-fluid .dropdown-nav-menu .nav-dropdown {
        color: #ffffff;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        display: block;
        text-align: center; }
        .site-navbar .container-fluid .dropdown-nav-menu .nav-dropdown:hover {
          text-decoration: none; }
        .site-navbar .container-fluid .dropdown-nav-menu .nav-dropdown .caret {
          width: 20px;
          height: 20px;
          transition: all .3s;
          transform: rotate(0); }
      .site-navbar .container-fluid .dropdown-nav-menu .dropdown-nav-items {
        display: none;
        margin-top: 10px; }
        .site-navbar .container-fluid .dropdown-nav-menu .dropdown-nav-items .nav-item {
          display: block; }
          .site-navbar .container-fluid .dropdown-nav-menu .dropdown-nav-items .nav-item.dropdown .dropdown-menu {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            background: transparent; }
          .site-navbar .container-fluid .dropdown-nav-menu .dropdown-nav-items .nav-item .nav-link {
            font-size: 18px; }
    .site-navbar .container-fluid .nav-items {
      height: 100%;
      list-style: none;
      margin-bottom: 0; }
    .site-navbar .container-fluid .nav-item {
      line-height: 40px;
      height: 100%;
      display: inline-block; }
      .site-navbar .container-fluid .nav-item.dropdown {
        cursor: pointer; }
        .site-navbar .container-fluid .nav-item.dropdown .nav-link .caret {
          width: 20px;
          height: 20px;
          transition: all .3s;
          transform: rotate(0); }
        .site-navbar .container-fluid .nav-item.dropdown .dropdown-menu {
          background: #009948;
          background: -moz-linear-gradient(0deg, #009948 0%, #b4d336 100%);
          background: -webkit-linear-gradient(0deg, #009948 0%, #b4d336 100%);
          background: linear-gradient(0deg, #009948 0%, #b4d336 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009948",endColorstr="#b4d336",GradientType=1);
          top: 99%;
          left: unset;
          right: 0; }
          .site-navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-list {
            text-align: right; }
            .site-navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-list .dropdown-item {
              transition: all .3s; }
              .site-navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-list .dropdown-item:hover {
                background-color: #6b6d6e; }
                .site-navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-list .dropdown-item:hover .nav-link {
                  background-color: transparent; }
              .site-navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-list .dropdown-item .nav-link {
                display: block;
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                border-radius: 10px;
                transition: all .3s; }
      .site-navbar .container-fluid .nav-item .nav-link {
        display: block;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        padding: 0 20px;
        border-radius: 10px;
        transition: all .3s; }
        .site-navbar .container-fluid .nav-item .nav-link:hover {
          background-color: #6b6d6e; }

.footer {
  background: #009948;
  background: -moz-linear-gradient(0deg, #009948 0%, #b4d336 100%);
  background: -webkit-linear-gradient(0deg, #009948 0%, #b4d336 100%);
  background: linear-gradient(0deg, #009948 0%, #b4d336 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009948",endColorstr="#b4d336",GradientType=1);
  padding: 15px 0; }
  .footer .footer-section {
    text-align: center; }
    .footer .footer-section .title {
      display: inline-block;
      position: relative;
      background-color: #009948;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      padding: 7px 25px;
      border-radius: 15px;
      z-index: 25; }
    .footer .footer-section .contents {
      position: relative;
      background-color: #D5D6D7;
      margin-top: -20px;
      padding: 35px 15px 15px;
      z-index: 5;
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 325px; }
      .footer .footer-section .contents.religious-times {
        background-image: url("../img/footer-religious-times-background.png"); }
      .footer .footer-section .contents.weather {
        background-image: url("../img/footer-weather-background.png"); }
      .footer .footer-section .contents.contact {
        background-image: url("../img/footer-contact-background.png"); }
      .footer .footer-section .contents.time {
        background-image: url("../img/footer-time-background.png"); }
      .footer .footer-section .contents .content-list {
        list-style: none;
        text-align: right;
        margin-bottom: 0; }
        .footer .footer-section .contents .content-list .content {
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 18px; }
          .footer .footer-section .contents .content-list .content.english {
            font-family: sans-serif;
            font-weight: normal;
            direction: ltr;
            text-align: left; }
            .footer .footer-section .contents .content-list .content.english .value {
              margin-left: 10px;
              margin-right: 0; }
          .footer .footer-section .contents .content-list .content .icon {
            font-size: 20px;
            position: relative;
            top: 5px;
            margin-left: 10px; }
          .footer .footer-section .contents .content-list .content .value {
            font-weight: normal;
            margin-right: 10px; }
  .footer .copyright {
    font-family: sans-serif;
    direction: ltr;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #ffffff; }
    .footer .copyright a {
      color: #ffffff; }

@media (max-width: 960px) {
  .footer .footer-section {
    margin-bottom: 15px; } }
@media (max-width: 720px) {
  .header .top-part {
    justify-content: center; }

  .header .top-part .theme-section {
    margin-bottom: 10px; }

  .header .top-part .icons-section .icons-list {
    border-right: none; }

  .header .top-part .search-section .search-icon img {
    height: 25px;
    position: relative;
    bottom: 4px; }

  .header .logos-section {
    height: 100px; }

  .header .logos-section .logo.right-logo {
    padding-right: 15px; }

  .header .logos-section .logo.left-logo {
    padding-left: 15px; }

  .site-navbar {
    height: unset;
    min-height: 50px; }

  .site-navbar .container-fluid .dropdown-nav-menu .nav-dropdown {
    line-height: 30px;
    font-size: 16px; }

  .site-navbar .container-fluid .nav-items {
    display: none; }

  .site-navbar .container-fluid .dropdown-nav-menu {
    display: block; } }
@media (max-width: 420px) {
  .header .top-part .search-section input {
    width: 200px; }

  .header .logos-section {
    height: 80px; }

  .header .logos-section .logo.right-logo {
    padding-right: 0; }

  .header .logos-section .logo.left-logo {
    padding-left: 0; }

  .site-navbar {
    min-height: 50px; } }

/*# sourceMappingURL=credentials.css.map */
